.grid-container {
    height: 100%;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "one two two two"
    "one two two two"
    "one two two two"
    "one two two two"
    "one two two two"
    "one three three three";
    gap: 20px;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
