/* MonthlyView.js */
.MR_view_wrapper {
    background-color: #f3f3f3;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 100%;
    margin: 2px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    overflow-y: scroll;
}

/* MonthlyRoutine.js */
.nullDay {
    width: 25px;
    height: 25px;
    margin: 2px;
    display: inline-grid;
}

.completedDay {
    background-color: gray;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin: 2px;
    display: inline-grid;
}

.noneDay {
    background-color: #d9d9d9;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin: 2px;
    display: inline-grid;
}

.MR_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.MR_wrapper > p {
    flex: 2;
    margin-top: 15px;
}

.MR_completedDays{
    flex: 8;
    width: 203px;
}

.MR_stat{
    flex:1;
}

.MR_achieve, .MR_num {
    display: inline-block;
    padding: 22px;
}