body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin: auto;
}

html,
body {
    height: 100%;
    overflow: hidden;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body > * {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}