#x {
   display: none;
}
ul, li {
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
}
a {
   text-decoration: none;
   color: black;
}

.login_pg{
    width: 100%;
}
.blue{
    width: 200px;
    position: absolute;
    top: 100px;
    left: 420px;
    z-index: 2;
}
a:hover {
	letter-spacing:3px;
   	font-weight:bold;
  	transition:0.3s;
  	cursor:pointer;
  	text-align : center;
}
.logbox {
    padding: 25px;
    padding-top: 40px;
}
label {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
form div {
   margin-bottom: 40px;
}
input[type="text"], input[type="password"], input[type="email"] {
   width: 450px;
   height: 45px;
   border-radius: 10px;
   margin: 20px 0;
}
#id {
   width: 320px;
}
#checkid {
   position: absolute;
    height: 50px;
    border-radius: 10px;
    margin: 20px 0;
    width: 140px;
    font-size: inherit;
    background:#5a9cf2;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}
input[type="submit"] {
   width: 100%;
   height: 50px;
   border-radius: 10px;
   left: 115px;
   font-size: 20px;
   background:#5a9cf2;
   color: white;
   font-weight: bold;
}
input[type="submit"]:hover {
	letter-spacing:3px;
   	font-weight:bold;
  	transition:0.3s;
  	cursor:pointer;
}
input[type="button"]:hover {
	letter-spacing:0.3px;
   	font-weight:bold;
  	transition:0.3s;
  	cursor:pointer;
}
.tosign {
   position: absolute;
   left: 170px;
   top: 420px;
}